* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho {
    background-color: rgb(37, 55, 88);
    padding-top: 14px;
}

#fotoperfil {
    height: 200px;
    border-radius: 100px;
}

.id {
    display: flex;
    align-items: center;
    justify-content: center;
}

#titulo {
    color:rgb(183, 183, 196);
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    margin-left: 15px;
}

.menu {
    background-color: rgb(66, 78, 119);
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin-top: 10px;
}

.item-menu {
    text-decoration: none;
    color: rgb(183, 183, 196);
    font-family: "Aldrich", sans-serif;
}

.rodape {
    background-color: rgb(183, 183, 196);
    font-family: "Aldrich", sans-serif;
    text-align: center;
    color: rgb(88, 88, 88);
}

#img-pasta {
    width: 100%;
}